* {
    margin: 0;
} 

.header{
    text-align:center;
    background-image: url(../images/donation5.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height: 440px;
}
.let-us-help{
    font-family: 'Noto Serif', serif;
    font-size: 50px;
    color: white;
    padding-top: 50px;
}
.let-us-help-again{
    font-family: 'Noto Serif', serif;
    font-size: 50px;
    color: white;
}
.para{
    color: white;
}
.para-2{
    color: white;
    margin-bottom: 40px;
}
.btn-primary{
    background-color: rgb(167, 19, 51);
    color: whitesmoke ;
    font-size: 23px;
    font-weight: 450;
    border-radius: 5px;
    padding: 15px 20px;
}
.money-donate{
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
}
.second-para-one{
    color:grey;
    text-align: center;
}
.second-para-2{
    color:grey;
    text-align: center;
    margin-bottom: 50px;
}
.other-amount{
    text-align: center;
    color: rgb(85, 73, 73);
    font-size: 24px;
    margin-bottom: 15px;
}
.taka{
    color:grey;
    font-size: 35px;
    font-weight: 650;
    display: flex;
    justify-content:center;
    gap: 50px;
    margin-bottom: 70px;
}
#two-hundred-taka{
    background-color: pink;
    border: 1px solid rebeccapurple;
    border-radius: 5px;
    height:125px;
    width: 125px;
    text-align: center;
}
#value-of-two-hundred-taka{
    margin-top: 40px;
}
.normal-taka{
    margin-top: 40px;
}
.btn-primary-again{
    background-color: rgb(197, 92, 110);
    color: whitesmoke ;
    font-size: 23px;
    font-weight: 450;
    border-radius: 5px;
    padding: 15px 20px;
}
hr{
    width: 700px;
    text-align: center;
    margin-left: 320px;
    margin-bottom: 30px;
    color: rgb(236, 227, 227);
}
.get-the-primary-button-center{
    text-align: center;
    margin-bottom: 130px;
}
.food-family-shelter-donation{
    text-align: center;
}
.para-three{
    font-size: 40px;
    color: rgb(34, 32, 32);
}
.para-three-again{
    color: rgb(65, 58, 58);
    font-size: 20px;
}
.para-three-again-and-again{
    color: rgb(65, 58, 58);
    font-size: 20px;
    margin-bottom: 40px;
}
/* FOOD FAMILY AND SHELTER FLEX */

.food-family-shelter-flex{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.family{
    background-color: rgb(201, 223, 220);
    border-radius: 5px;
    height: 300px;
    width: 500px;
}
.shelter{
    background-color:pink;
    border-radius: 5px;
    height: 300px;
    width: 500px;
}
.education{
    background-color: rgb(252, 252, 177);
    border-radius: 5px;
    height: 300px;
    width: 500px ;
}
.common-status{
    margin-top: 40px;
    margin-left: 15px;
}
.size{
    font-size: 24px;
}
.para-size{
    font-size: 20px;
}
.special-para{
    margin-top: 20px;
}
.food-family-shelter{
    margin-bottom: 100px;
}

/* THEIR LIFE DEPENDS ON OUR DONATION STYLE */

.charity{
    
    width: 450px;
    height: 450px;
}
.charity-image{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.their-life-depends-on-your-donation{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    gap: 100px;
    margin-bottom: 30px;
}
.charity-banner{
    font-size:45px;
    color: rgb(27, 26, 26);
}
.charity-banner-one{
    font-size:45px;
    color: rgb(27, 26, 26);
    margin-bottom: 15px;
}
.charity-work{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.charity-work-one{
    font-size: 20px;
    margin-bottom: 30px;
}
.they-need-us-to-survive{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    gap: 100px;
    margin-bottom: 100px;
}
.get-my-update{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
.update{
    font-size: 50px;
    color: rgb(17, 17, 17);
    margin-bottom: 15px;
}
.para-update-one{
    font-size: 25px;
    color: grey;
}
.para-update{
    font-size: 25px;
    color: grey;
    margin-bottom: 50px;
}

.complete{
    background-color: burlywood;
    width: 700px;
    height:150px;
    margin-left: 320px;
    margin-bottom: 150px;
}
.done{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
}
.ultimate-para input{
    width: 200px;
    height: 35px;
    border-radius: 5px;
}
.ultimate-para-submit{
    background-color: rgb(197, 92, 110);
    color: whitesmoke ;
    font-size: 23px;
    font-weight: 450;
    border-radius: 5px;
    padding: 15px 20px;
    height: 15px;
}
.done-it-completely{
    background-color: rgb(5, 5, 39);
    color:rgb(189, 61, 123);
    text-align: center;
    height: 200px;
}
.humble p{
    padding: 30px;
    color: whitesmoke;
}
.humble h1{
    padding: 15px;
    font-family: 'Moon Dance', cursive;
    font-weight: 900;
    font-size: 50px;
}